<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">     -->
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Chat Interface</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <table>
                <tr>
                    {% for res in response %}
                    <td>{{ res }}</td>
                    {% endfor %}
                </tr>
            </table>
            
            <!-- <div class="py-5 mx-auto col-8"> -->
                <!-- <div id="chat-container" class="chat-container"></div> -->
        <!-- <div id="chat-messages"></div>
        <div class="chat-input">
            <input type="text" id="user-message" placeholder="Send a message...">
        </div> -->
        <div id="chat-container" class="chat-container">
            <div class="chat-header">
                <h1>SkaiGPT </h1> 
            </div>
            <div id="chat-messages" class="chat-messages"> 
            </div> 
            <div class="chat-input">
                <input type="text" id="user-message" placeholder="Send a message...">
                <button>Send</button>
            </div>
        </div>
        </div>
        <!-- </div> -->
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#user-message').keypress(function(event) {
                if (event.which === 13) {
                    event.preventDefault();
                    var userMessage = $('#user-message').val();
                    const chatSentDiv = document.getElementById("chat-messages");
                    const paragraph = document.createElement("p");
                    paragraph.innerHTML = '<p><strong>You:</strong> ' + userMessage + '</p>';
                    chatSentDiv.appendChild(paragraph, 0);
                    chatSentDiv.scrollTo(0, chatSentDiv.scrollHeight);
                    $('#user-message').val('');                    

                    $.ajax({
                        type: 'POST',
                        url: '/chat',
                        data: { user_message: userMessage },
                        success: function(data) {
                            // console.log(data);
                            const chatRecivedDiv = document.getElementById("chat-messages");

                            const response = data.response;
                            console.log("=========response=================");
                            console.log(response);

                            // -----------------------------------------------
                            const paragraphRecive = document.createElement("p");
                            paragraphRecive.className = "message received";
                            // paragraphRecive.innerHTML = '<strong>SkaiGPT:</strong> ' + data.response ; 
                            paragraphRecive.innerHTML = '<strong>SkaiGPT:</strong> ' + 'Sure! here is the results for ' + userMessage
                            chatRecivedDiv.appendChild(paragraphRecive, 0);
                            const imageUrl = data.graph_path //"{{graph_path}}"
                            // --- table creation -----------------------------                          
                            // Create the table element
                            const table = document.createElement("table");
                            // Create the table header row
                            const headerRow = document.createElement("tr");
                            headerRow.className = "table__header";
                            const headers = response[0];
                            for (let header of headers) {
                            const th = document.createElement("th");
                            th.textContent = header;
                            th.className = "table__cell";
                            headerRow.appendChild(th);
                            }
                            table.appendChild(headerRow);

                            // Create the table data rows
                            for (let i = 1; i < response.length; i++) {
                            const dataRow = document.createElement("tr");
                            dataRow.className = "table__row";
                            const rowData = response[i];
                            for (let data of rowData) {
                                const td = document.createElement("td");
                                td.textContent = data;
                                td.className = "table__cell";
                                dataRow.appendChild(td);
                            }
                            table.appendChild(dataRow);
                            }

                            // Attach the table to the chatRecivedDiv
                            chatRecivedDiv.appendChild(table);
                            
                            if (imageUrl) {
                                const imgRecive = document.createElement("img");
                                imgRecive.id = "plotImage"
                                // imgRecive.src = imageUrl;
                                imgRecive.src = imageUrl + '?t=' + new Date().getTime();
                                imgRecive.className = "image";
                                imgRecive.alt = "plotGraph";
                                chatRecivedDiv.appendChild(imgRecive);
                            }
                            chatRecivedDiv.scrollTo(0, chatRecivedDiv.scrollHeight);
                            // -----------------------------------------------                            



                        },
                        error: function() {
                            const chatRecivedDiv = document.getElementById("chat-messages");
                            const paragraphRecive = document.createElement("p");
                            paragraphRecive.className = "message received";
                            paragraphRecive.innerHTML = '<br><strong>SkaiGPT:</strong> Something went wrong.';
                            chatRecivedDiv.appendChild(paragraphRecive, 0);
                            chatRecivedDiv.scrollTo(0, chatRecivedDiv.scrollHeight);
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
